h1{
    background: #b3b3b3;
    font-size: 150%;
}

header{
    background: #123123;
    text-align: center;
    color: #FFFFFF;
}

nav{font-variant: small-caps;
    font-size: 150%;
    font-family: Arial, "Times New Roman";
    color: #b3b3b3
}